body {
    background: aliceblue;
    font-family: "SolaimanLipi", sans-serif;
    margin: 0 auto;
}
@font-face {
    font-family: "SolaimanLipi";
    src: url("/m/font/SolaimanLipi.eot"); /* IE9 Compat Modes */
    src: url("/m/font/SolaimanLipi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/m/font/SolaimanLipi.woff2") format("woff2"), /* Super Modern Browsers */ url("/m/font/SolaimanLipi.woff") format("woff"),
        /* Pretty Modern Browsers */ url("/m/font/SolaimanLipi.ttf") format("truetype"), /* Safari, Android, iOS */ url("/m/font/SolaimanLipi.svg#svgFontName") format("svg"); /* Legacy iOS */
}
a {
    text-decoration: none !important;
}
img,
svg {
    vertical-align: middle;
}
b,
strong {
    font-weight: bolder;
}
.clearfix {
    overflow: initial;
}

/*********************************************
            ********************HEADER********************
            *********************************************/

/* ============ mobile view ============ */
.screen-darken {
    height: 100%;
    width: 0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
    z-index: 10;
    transition: opacity 0.3s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.mobile-size {
    width: 420px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #e9ecef;
}
.header {
    width: 420px;
    height: auto;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 99;
    transition: all 0.3s ease;
    background-color: #3f51b5;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    border-bottom: solid 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 8%);
}
.header .header-title {
    position: absolute;
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    color: #fff;
    font-weight: 800;
    margin-left: 20px;
    font-family: "SolaimanLipi", sans-serif;
}
.header .header-title span {
    font-size: 10px;
    font-weight: 100;
}
.header-logo-app .header-title {
    /* left: 0 !important;
    margin-left: 15px !important; */
    text-align: center;
}
.header-logo-app .header-title img {
    width: 65%;
}
span.badge.badge-danger.badge-pill.noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 8px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    box-shadow: none;
    padding: 2px 4px 2px;
    font-size: 9px;
    background: red;
}
.header .header-icon {
    position: relative;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    color: #1f1f1f;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent !important;
}
.theme-light .show-on-theme-light {
    display: block;
}
/* .header-logo-app .header-icon-3 {
    right: 45px;
} */
.navbar-dark .navbar-toggler {
    border-color: transparent;
}
.footer-bar.footer-bar-5 {
    width: 412px;
}
/* ============ mobile view ============ */
@media all and (max-width: 991px) {
    .offcanvas-header {
        display: block;
    }

    .mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        z-index: 1200;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .mobile-offcanvas.show {
        visibility: visible;
        transform: translateX(0);
    }
    .mobile-offcanvas .container,
    .mobile-offcanvas .container-fluid {
        display: block;
    }
}
div#offcanvasRight {
    margin: 40px 0 40px;
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px 0 0 20px;
}
.offcanvas-header {
    display: none;
}
.offcanvas-header .btn-close {
    float: right;
}
.offcanvas-body .header-title {
    height: auto;
    line-height: 55px;
    font-size: 17px;
    color: #141010;
    font-weight: 800;
    font-family: "SolaimanLipi", sans-serif;
}

ul.navbar-nav {
    margin-top: 20px;
    margin-left: 20px;
}
.nav-link {
    color: #343434;
}
/*.offcanvas-end {*/
/*    width: 300px;*/
/*    margin: 10% 0;*/
/*}*/
.offcanvas-active {
    overflow: hidden;
}

.offcanvas-footer {
    position: fixed;
    bottom: 9%;
    text-align: center;
    font-family: "SolaimanLipi", sans-serif;
}

/*********************************************
            ********************BODY********************
            *********************************************/

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}
.serch-box {
    margin: 0 7px 20px 7px;
}
.rounded {
    border-radius: 0.25rem 0 0 0.25rem !important;
}
input.form-control.rounded {
    font-family: "SolaimanLipi";
}
/******/
.app-contant {
    padding-top: 55px;
    padding-bottom: 70px;
    background: white;
    border: 1px solid aliceblue;
}
.mCat-box p.box-heading {
    color: white;
    margin-bottom: -15px;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    padding: 2px 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.service-box {
    background: white;
    border: 1px solid #673ab7;
    padding: 40px 10px 10px;
    text-align: center;
    border-radius: 5px;
}
.box {
    width: 32.4%;
    display: inline-block;
    color: #3b3b3b;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box:hover {
    color: #1032f7;
    /* background: #0d6efd26;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
}
.inner {
    height: 90px;
    overflow: hidden;
}
.inner img {
    width: 100%;
    height: 100%;
}

p.mCattext {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 0;
    font-family: "SolaimanLipi", sans-serif;
    max-width: 100%;
    -white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}
/**********************/
.spacial-box {
    padding-bottom: 20px;
}
.spacial-box p.box-heading {
    color: white;
    margin-bottom: -15px;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    padding: 2px 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.spacial-box .mainbox {
    background: white;
    /* box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    border-radius: 10px; */
    border: 1px solid #673ab7;
    padding: 40px 10px 10px;
    text-align: center;
    border-radius: 5px;
}
.spacial-box .mainbox .content {
    width: 32.4%;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset;
}
/*** fourth box***/
/* .fourth-section {
    text-align: center;
} */
.important-link p.box-heading {
    color: white;
    margin-bottom: -15px;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    padding: 2px 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
/* .title-text {
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    color: white;
    font-family: "SolaimanLipi", sans-serif;
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
} */
.important-link .box {
    width: 32.4%;
    display: inline-block;
    color: #3b3b3b;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.second-section {
    margin: 10px 0;
    padding: 10px 0;
}
/*.two-box {*/
/*    width: 49.333%;*/
/*    display: inline-block;*/
/*    color: #3b3b3b;*/
/*    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);*/
/*    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);*/
/*}*/
ul.square-style {
    list-style-type: square;
    margin-top: 1rem;
}
.two-box-inner {
    width: 100%;
    color: #3b3b3b;
    padding: 30px 0 0 ;
    text-align: left;
    background-color: white;
    border: 1px solid #673ab7;
    /*box-shadow: 0px 5px 10px 0 rgb(0 0 0 / 12%);*/
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 5px;
}

/*******other service**********/
.other-services p.box-heading {
    color: white;
    margin-bottom: -15px;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    padding: 2px 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.other-services .box-inner {
    width: 100%;
    color: #673ab7;
    padding: 40px 10px 10px;
    text-align: left;
    background-color: white;
    border: 1px solid #673ab7;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 5px;
}

/*********************************************
            ********************Main Category Page********************
            *********************************************/

.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #673ab7;
    font-weight: bold;
    font-size: 20px;
    font-family: "SolaimanLipi", sans-serif;
}

.items-head hr {
    opacity: 1;
    width: auto;
    margin: 0px 30px;
    border: 1px solid #673ab7;
}

.items-body {
    display: grid;
    grid-gap: 10px;
}

.items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-family: "SolaimanLipi", sans-serif;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.items-body-content:hover {
    border-radius: 15px;
    border: 1px solid #0d6efd;
}

.items-body-content i {
    align-self: center;
    font-size: 15px;
    color: #673ab7;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
}

@keyframes icon {
    0%,
    100% {
        transform: translate(0px);
    }
    50% {
        transform: translate(3px);
    }
}

/*********************************************
            ********************Sub Category Page********************
            *********************************************/

.items-head p {
    text-align: center;
    padding: 5px 20px;
    margin: 10px;
    color: #673ab7;
    font-weight: bold;
    font-size: 20px;
    font-family: "SolaimanLipi", sans-serif;
}

/* List */
.sub-category-section ul {
    counter-reset: index;
    padding: 0;
    /*max-width: 300px;*/
}

/* List element */
.sub-category-section li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
}

/* Element counter */
.sub-category-section li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Element separation */
.sub-category-section li + li {
    border-top: 1px solid rgb(16 16 16 / 32%);
}

/*********************************************
            ********************Post Details Page********************
            *********************************************/

.entry-title h2,
.entry-title h3,
.entry-title h4 {
    margin: 0;
    padding-top: 18px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.entry-meta {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.single-post .entry-meta {
    margin-bottom: 20px;
}
.entry-meta ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 10px -20px;
    list-style: none;
}
.entry-meta li {
    font-size: 90%;
    margin: 0 10px 10px 0;
    color: #999;
    padding: 0;
}
.entry-meta li::before {
    display: none;
}
.entry-meta li + li {
    border-top: none;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px solid #cacaca;
}
.entry-image img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
a {
    color: #9c27b0;
}

/*********************************************
            ********************NOTIFICATION MODEL********************
            *********************************************/
.modal-dialog .modal-content {
    width: 400px;
    margin: 0 auto;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.item-content .media {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 14px;
}
.modal.show .modal-dialog {
    padding-top: 7%;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.media-body.space-sm {
    margin-left: 15px;
}
.item-content .media .media-body .post-title {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
}
.item-content .media .media-body span {
    font-size: 12px;
}
/*********************************************
            ********************FOOTER********************
            *********************************************/

.footer-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #3f51b5;
    background-image: linear-gradient(to right, #673ab7, #3f51b5);
    box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 6%);
    min-height: 60px;
    display: flex;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.3s ease;
}
.footer-bar a {
    color: #fff;
    padding-top: 12px;
    position: relative;
    flex: 1 1 auto;
}
.footer-bar a span {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 10px;
    font-weight: 500;
    margin-top: -6px;
    opacity: 0.7;
    font-family: Roboto, sans-serif !important;
}
.footer-bar a svg {
    margin-top: -8px;
}
.footer-bar-2 .active-nav,
.footer-bar-4 strong,
.footer-bar-5 strong,
.splide__pagination__page.is-active {
    background-color: #ff9800 !important;
}
.footer-bar-5 .active-nav strong {
    position: absolute;
    width: 50px;
    height: 4px;
    border-radius: 60px;
    left: 50%;
    bottom: 0;
    bottom: calc(0px + (constant(safe-area-inset-bottom)) * 1.1);
    bottom: calc(0px + (env(safe-area-inset-bottom)) * 1.1);
    transform: translateX(-50%);
}


@media all and (max-width: 360px) {
    .header {
        width: 100%;
    }
    .mobile-size {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: white;
        border: 1px solid aliceblue;
    }
    .footer-bar.footer-bar-5 {
        width: 100%;
    }
    .modal-dialog .modal-content {
        width: 100%;
    }
}


/*********************************************
            ********************News Ticker********************
            *********************************************/


@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    }
    @keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    }
    .ticker-wrap .ticker__item:before {
    content: "";
    height: 11px;
    width: 11px;
    display: inline-block;
    background-color: red;
    border-radius: 0;
    position: relative;
    margin-right: 15px;
    }

    .ticker-wrap {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 2.5rem;
    /* padding-left: 100%; */
    }
    .ticker-wrap .ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    }
    .ticker-wrap .ticker {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    }
    .ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 0.875rem;
    color: red;
    }
